<h1> Welcome Citizen</h1>

Name: <strong><%= current_citizen.name %></strong>
<br>
E-mail: <strong><%= current_citizen.email %></strong>
<br>
Elected Official? <strong><%= current_citizen.elected_official? %></strong>
<br>
Address: <strong><%= current_citizen.public_key %></strong>
<br>
Balance <strong id="balance"></strong>
<br>
<% if current_citizen.voted %>
  Voted: <strong id="voted"><%= current_citizen.voted %></strong>
<% else %>
  Voted: <strong id="voted">not yet voted</strong>
<% end %>


<% keep_key ||= current_citizen.keep_key %>
<p>Enter your pass-key to Vote: 
  <% if keep_key %>
    <strong>KeepKey detected!</strong>
  <% end %></p>
<%= text_field_tag 'strong_password', keep_key  %> 
<%= link_to approve_path(current_citizen), :method => :patch, remote: true do %> Vote to Approve <% end %></li>| 
<%= link_to reject_path(current_citizen), :method => :patch, remote: true do %> Vote to Reject <% end %></li>
<% if current_citizen.proposals.first %>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<% end %>


<script>
  $.get("http://hacknet.blockapps.net/eth/v1.0/account?address=<%= current_citizen.public_key%>", function( data ) {
    $( "#balance" ).text( data[0].balance +"  ether");
  });

  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    <% if current_citizen.proposals.first %>
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Amount Allocated'],
      <% current_citizen.proposals.first.budget.each do |key, value| %>
        ['<%= key %>', <%= value %>],
      <% end %>
    ]);

    var options = {
      title: '<%= current_citizen.proposals.first.name %>'
    };
    <% end %>

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>