<!DOCTYPE html>
<html>
<head>
  <title>Consensus2015Makeathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://hacknet.blockapps.net/static/js/api.js"></script>
  <script src="http://hacknet.blockapps.net/static/js/createUser.js"></script>
  <script src="http://hacknet.blockapps.net/static/js/userLogin.js"></script>
  <script src="http://hacknet.blockapps.net/static/ethlightjs.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if notice %>
    <p class="alert"><%= alert %></p> 
  <% end %>

  <%= yield %>


</body>
</html>
